// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// http://simple-form-bootstrap.plataformatec.com.br/

.header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  padding: 12px;
}

.table {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  padding: 12px;
}

th {
  background:rgb(239, 168, 3);
}
